    <div class="card">
        <div class="card-body">
            <mat-form-field>
                <input matInput placeholder="Search Tasks" [formControl]="searchControl"/>
            </mat-form-field>
        </div>
    </div>
    <div class="mat-elevation-z8 data-table">    
        <mat-table [dataSource]="dataSource" matSort matSortDirection="asc" matSortActive="code" matSortDisableClear> 
            <ng-container matColumnDef="projectCode">
                <mat-header-cell *matHeaderCellDef>Project code</mat-header-cell>
                <mat-cell class="my-cell-hover" *matCellDef="let task" (click)="clickOnProjectCell(task.taskProject.idProject)">{{task.taskProject.code}}</mat-cell>>
            </ng-container>
            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Task code</mat-header-cell>
                <mat-cell class="my-cell-hover" *matCellDef="let task" (click)="clickOnTaskCell(task.idTask)">{{task.code}}</mat-cell>>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                <mat-cell *matCellDef="let task">{{task.description}}</mat-cell>>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let task">{{task.status}}</mat-cell>>
            </ng-container>
            <ng-container matColumnDef="assignedTo">
                <mat-header-cell *matHeaderCellDef>Assigned to</mat-header-cell>
                <mat-cell class="my-cell-hover" *matCellDef="let task" (click)="clickOnUserCell(task.taskUser.idUser)">{{task.taskUser.name}}</mat-cell>>
            </ng-container>
            <ng-container matColumnDef="createDate">
                <mat-header-cell *matHeaderCellDef>Create date</mat-header-cell>
                <mat-cell *matCellDef="let task">{{task.createDate}}</mat-cell>>
            </ng-container>
            <ng-container matColumnDef="updateDate">
                <mat-header-cell *matHeaderCellDef>Update date</mat-header-cell>
                <mat-cell *matCellDef="let task">{{task.updateDate}}</mat-cell>>
            </ng-container>
            <ng-container matColumnDef="dueDate">
                <mat-header-cell *matHeaderCellDef>Due date</mat-header-cell>
                <mat-cell *matCellDef="let task">{{task.dueDate}}</mat-cell>>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row>
        </mat-table>
        <div class="spinner" *ngIf="dataSource.loading$ | async">
                <mat-spinner></mat-spinner>
        </div>
        <mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
    </div>