<div class="card">
  <div class="card-body">

    <h4 class="card-title">Create project</h4>

    <h6 class="card-subtitle mb-2 text-muted">Hi, Put all necessary data for creating project</h6>

    <form [formGroup]="createProjectForm" (ngSubmit)="createProject()" class="form-group">

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Code" formControlName="code" />
          <mat-error *ngIf="createProjectForm.get('code').hasError('required')">
            Project code is required!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Description" formControlName="description" />
          <mat-error *ngIf="createProjectForm.get('description').hasError('required')">
            Description is required!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="createProjectForm.invalid">Create!</button>
      </div>

    </form>

  </div>

</div>