<div class="card">
  <div class="card-body">

    <h6 class="alert alert-danger" [hidden]="(problem === '') ">Status problem: {{problem}}</h6>

    <h4 class="card-title">Create new project</h4>

    <form #f="ngForm" (ngSubmit)="createProject(f)" class="form-group">

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Project code"  [(ngModel)]="prjcode" name="prjcode"/>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Description" [(ngModel)]="description" name="description"/>
        </mat-form-field>
      </div>

      <div class="form-group">
      <button class="btn btn-primary">Create!</button>
      </div>

    </form>

  </div>

</div>