<div *ngIf="readyTask">

  <div class="card">
    <div class="card-body">
        <h4 class="card-title">Project code:{{task.taskProject.code}}</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Actions</h4>
      <h5 class="card-title">Here all actions, you can do:</h5>
      <button [disabled]="!(task.taskUser.idUser == auth.user.idUser || task.status == closed) " mat-raised-button color="primary" (click)="assignDialog()">Assign</button>
      
      <button [disabled]="!(((task.status === 'open') || (task.status === 'reopen')) &&
       (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'dev'))" mat-raised-button
        color="primary" (click)="updateStatus('inProgress')" >
        Start
      </button>
      <button [disabled]="!((task.status === 'inProgress') && (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'dev'))"
        mat-raised-button color="primary" (click)="updateStatus('resolved')">
        Resolve
      </button>
      <button [disabled]="!((task.status === 'resolved') && (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'dev'))"
      mat-raised-button color="primary" (click)="updateStatus('readyForTest')">
      Ready for test
    </button>
      <button [disabled]="!((task.status === 'readyForTest') && (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'tester'))"
        mat-raised-button color="primary" (click)="updateStatus('closed')">
        Close
      </button>
      <button [disabled]="!((task.status === 'readyForTest') && (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'tester'))"
      mat-raised-button color="primary" (click)="updateStatus('reopen')">
      Reopen
    </button>
    </div>
  </div>

  <div class="card" *ngIf="(userOnThisProject && auth.user.role == 'pm')">
    <div class="card-body">
        <h4 class="card-title">Additional options</h4>
        <button mat-raised-button color="primary" (click)="editDialog()">Edit task</button>
    </div>
</div>
  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Task code:{{task.code}}</h4>
          <h5 class="card-title">Name:</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{task.name}}</h6>
          <h5 class="card-title">Description:</h5>
          <textarea style="width: 50vh" readonly matNativeControl cdkTextareaAutosize>{{task.description}}</textarea>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Task details:</h4>
            <div class="card-body">
              <h5 class="card-title">Priority:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.priority}}</h6>
              <h5 class="card-title">Status:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.status}}</h6>
              <h5 class="card-title">Asigned to:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.taskUser.name}}</h6>
             </div>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Time details:</h4>
            <div class="card-body">
              <h5 class="card-title">Create date:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.createDate}}</h6>
              <h5 class="card-title">Update date:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.updateDate}}</h6>
              <h5 class="card-title">Due date:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.dueDate}}</h6>
              <h5 class="card-title">Estimation date:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.estimationDate}}</h6>  
             </div>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Comments:</h4>
          <mat-form-field>
          <input matInput placeholder="Type comment" type ="text" [formControl]="commentControl"/>
          <mat-error *ngIf="commentControl.hasError('required')">
            You should write something
          </mat-error>
        </mat-form-field>
        <button [disabled]="commentControl.invalid  || !userOnThisProject" mat-raised-button color="primary" (click)="leaveComment()">Leave comment</button>
        <div class="card" *ngFor="let comment of task.taskComments">
            <div class="card-body">
              <h5 class="card-title">{{comment.commentUser.name}} {{dateShow(comment.date)}}:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{comment.comment}}</h6>
            </div>
        </div>
      </div>
  </div>

</div>
<app-spinner-overlay *ngIf="sendingData || !readyTask"></app-spinner-overlay>
