<div *ngIf="ready == true">

  <div class="card">
    <div class="card-body">
        <h4 class="card-title">Project code:{{task.taskProject.code}}</h4>
        <h5 class="card-title">Description:</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{task.taskProject.description}}</h6>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Actions</h4>
      <h5 class="card-title">Here all actions, you can do:</h5>
      <button [disabled]="!(task.taskUser.idUser == auth.user.idUser || task.status == Closed) " mat-raised-button color="primary" (click)="assignDialog()">Assign</button>
      
      <button [disabled]="!(((task.status === 'Open') || (task.status === 'Reopen')) &&
       (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'dev'))" mat-raised-button
        color="primary" (click)="updateStatus('In Progress')" >
        Start
      </button>
      <button [disabled]="!((task.status === 'In Progress') && (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'dev'))"
        mat-raised-button color="primary" (click)="updateStatus('Resolved')">
        Resolve
      </button>
      <button [disabled]="!((task.status === 'Resolved') && (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'dev'))"
      mat-raised-button color="primary" (click)="updateStatus('Ready for test')">
      Ready for test
    </button>
      <button [disabled]="!((task.status === 'Ready for test') && (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'tester'))"
        mat-raised-button color="primary" (click)="updateStatus('Closed')">
        Close
      </button>
      <button [disabled]="!((task.status === 'Ready for test') && (task.taskUser.idUser == auth.user.idUser) && (auth.user.role === 'tester'))"
      mat-raised-button color="primary" (click)="updateStatus('Reopen')">
      Reopen
    </button>
    </div>
  </div>

  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Task code:{{task.code}}</h4>
          <h5 class="card-title">Description:</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{task.description}}</h6>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Task details:</h4>
            <div class="card-body">
              <h5 class="card-title">Priority:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.priority}}</h6>
              <h5 class="card-title">Status:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.status}}</h6>
              <h5 class="card-title">Asigned to:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.taskUser.name}}</h6>
             </div>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Time details:</h4>
            <div class="card-body">
              <h5 class="card-title">Create date:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.createDate}}</h6>
              <h5 class="card-title">Update date:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.updateDate}}</h6>
              <h5 class="card-title">Due date:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.dueDate}}</h6>
              <h5 class="card-title">Estimation date:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.estimationDate}}</h6>  
             </div>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Comments:</h4>
          <h5 class="card-title">Leave comment</h5>
          <button [disabled]="commentControl.invalid" mat-raised-button color="primary" (click)="leaveComment()">Leave comment</button>
          <mat-form-field>
          <input matInput placeholder="Type comment" type ="text" [formControl]="commentControl"/>
          <mat-error *ngIf="commentControl.hasError('required')">
              Please,type smth
          </mat-error>
        </mat-form-field>
          <div class="card" *ngFor="let comment of task.taskComments">
            <div class="card-body">
              <h5 class="card-title">{{comment.commentUser.name}}:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{comment.comment}}</h6>
            </div>
          </div>
      </div>
  </div>

</div>