<form class="example-form" *ngIf="ready == true"  (ngSubmit)="add()">
    <mat-form-field>
      <input type="text" placeholder="Pick email" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option  ">
          {{option.email}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
      
    <div class="form-group">
        <button class="btn btn-primary">Add!</button>
        </div>
  </form>