<div *ngIf="ready == true">
    <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h5">
                Amount of pages:{{page.totalPages}}
                You are on page:{{page.number+1}}
            </span>
    </nav>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Asigned to</th>
            <th scope="col">Create date</th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of page.content" (click)="onChooseTask(task.idTask)">
            <td scope="row">{{task.code}}</td>
            <td scope="row">{{task.description}}</td>
            <td scope="row">{{task.priority}}</td>
        </tr>
    </tbody>
    
    <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" [disabled]="page.firstPage" (click)="firstPage()">First</button>
            <button type="button" class="btn btn-secondary" [disabled]="page.firstPage" (click)="previousPage()">Previous</button>
            <button type="button" class="btn btn-secondary" [disabled]="page.lastPage" (click)="nextPage()">Next</button>
            <button type="button" class="btn btn-secondary" [disabled]="page.lastPage" (click)="lastPage()">Last</button>
    </div>
</table>
</div>