<form *ngIf="ready == true" (ngSubmit)="create()" class="form-group">
  <div>
    <mat-form-field>
      <mat-label>Project code</mat-label>
      <mat-select [(ngModel)]="project111" name="project111" (selectionChange)="smth($event)">
        <mat-option *ngFor="let project of projects" [value]="project">
          {{project.code}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input class="form-group" matInput placeholder="Description" [(ngModel)]="description" name="description" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input class="form-group" matInput name="dueDate" [(ngModel)]="dueDate" [matDatepicker]="dueDate1" placeholder="Choose a due date">
      <mat-datepicker-toggle matSuffix [for]="dueDate1"></mat-datepicker-toggle>
      <mat-datepicker #dueDate1 ></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input class="form-group" matInput name="estimationDate" [(ngModel)]="estimationDate" [matDatepicker]="estimationDate1" placeholder="Choose estimation date">
      <mat-datepicker-toggle matSuffix [for]="estimationDate1"></mat-datepicker-toggle>
      <mat-datepicker #estimationDate1></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>User email</mat-label>
      <mat-select [(ngModel)]="user111" name="user111" (selectionChange)="smth1($event)">
        <mat-option *ngFor="let user of users" [value]="user">
          {{user.email}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Create!</button>
  </div>
</form>