<mat-toolbar >
      <span class="one">Swamnx project</span>
      <span class="second">
            <a mat-button routerLink="/">About</a>
            <a mat-button routerLink="/tasks" *ngIf="auth.authenticated">Tasks</a>
            <a mat-button routerLink="/createTask" *ngIf="auth.authenticated">Create task</a>
            <a mat-button routerLink="/createProject" *ngIf="auth.authenticated && auth.user.role == 'pm' ">Create project</a>
      </span>
      <span class="third">
            <a mat-button routerLink="/login" *ngIf="!auth.authenticated">Login</a>
            <a mat-button routerLink="/registration" *ngIf="!auth.authenticated">Registration</a>
            <a mat-button routerLink="/users/{{auth.user.idUser}}" *ngIf="auth.authenticated">{{auth.user.name}}</a>
            <button mat-button (click)="auth.authenticateNot()" *ngIf="auth.authenticated">Logout</button>
      </span>
</mat-toolbar>