.one{
    flex: 2;
    display: flex;
    justify-content: flex-start;
}
.second{
    flex: 5;
    display: flex;
    justify-content: flex-start;
}
.third{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.add-space{
    margin-right:2%;
}
