<nav class="navbar navbar-expand-lg navbar-ligh bg-light">
      <span class="navbar-brand mb-0 h1">SwamnxPrj</span>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="collapse navbar-collapse" id="navbarNav">
                   <a class="nav-item nav-link" routerLink="/">About</a>
                         <a *ngIf=" auth.authenticated == true" class="nav-item nav-link" routerLink="/tasksTable">Tasks</a> 
                         <a *ngIf=" auth.authenticated == true" class="nav-item nav-link" routerLink="/createTask">Create taskg</a>
                         <a *ngIf=" auth.authenticated == true && auth.user.role === 'pm' " class="nav-item nav-link" routerLink="/createProject">Create Project</a>
                         
        </div>
        <span class="navbar-text">
              <div class="collapse navbar-collapse" id="navbarNav" *ngIf=" auth.authenticated == false ; else logouttemplate ">
                    <a class="nav-item nav-link" routerLink="/login">Login </a>
                    <a class="nav-item nav-link" routerLink="/registration">Registration </a>
              </div>
              <ng-template #logouttemplate>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <a class="nav-item nav-link" routerLink="/users/{{auth.user.idUser}}"> {{auth.user.name}}</a>
                    <button (click)="auth.authenticateNot()" class ="nav-item btn btn-dark">Logout</button>
                  </div>
              </ng-template>
        </span>
  </div>
</nav>