<div class="card">
  <div class="card-body">

    <h6 class="alert alert-danger" [hidden]="(error == '') ">Something goes wrong: {{error}}</h6>
    <h4 class="card-title">Login page</h4>

    <h6 class="card-subtitle mb-2 text-muted">Hi, Type your informaton and let start work</h6>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-group">

      <div>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
            Please enter a valid email address!
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('maxlength') && !loginForm.get('email').hasError('email')">
            Length of email must be up to 60 symbols
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is required!
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password" />
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Password is required!
          </mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('pattern')">
            Password must be from 8 to 32 latin symbols numbers, but more than one of each type and spec-symbols
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login!</button>
      </div>

    </form>

  </div>
</div>
<app-spinner-overlay *ngIf="sendingData"></app-spinner-overlay>