<ul class="list-group">

    <li class="list-group-item">
      <h3>Login Page</h3>
    </li>
    <li class="list-group-item">
  <form role="form" (submit)="login()">

    <div class="form-group">
      <label for="login">Email:</label> <input type="text"
        class="form-control" id="email" name="email" [(ngModel)]="email"/>
    </div>

    <div class="form-group">
      <label for="password">Password:</label> <input type="password"
        class="form-control" id="password" name="password" [(ngModel)]="password"/>
    </div>
    
    <button type="submit" class="btn btn-primary">Login!</button>
  </form>
</li>
</ul>
<div class="alert alert-danger" [hidden]="(auth.problem === '') ">
  {{problem}}
</div>