<h2 mat-dialog-title>Hi, choose person</h2>
<div mat-dialog-content [formGroup]="addUserForm" class="formGroup">

  <mat-form-field>
    <input matInput placeholder="Type user email" type="text" formControlName="email" [matAutocomplete]="auto" />
    <mat-error *ngIf="addUserForm.get('email').hasError('userNotSelected')">
      Please, choose person
    </mat-error>
    <mat-error *ngIf="addUserForm.get('email').hasError('userNotFound')">
      No user with such email
    </mat-error>
    <mat-error *ngIf="addUserForm.get('email').hasError('required')">
      Fill form
    </mat-error>
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let user of users" [value]="user">
      {{ user.email }}
    </mat-option>
  </mat-autocomplete>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Close</button>
  <button mat-button [disabled]="addUserForm.invalid" [mat-dialog-close]="addUserForm.get('email').value" cdkFocusInitial>
    Ok
  </button>
</div>