<div class="card" *ngIf="projectReady">
  <div class="card-body">
    <h4 class="card-title">Project Info</h4>
    <mat-card-content>
      <h5 class="card-title">Project Code</h5>
      <div class="card-subtitle mb-2 text-muted">{{project.code}}</div>
      <h6 class="card-title">Project Description</h6>
      <div class="card-subtitle mb-2 text-muted">{{project.description}}</div>
    </mat-card-content>
  </div>
</div>
<div class="card" *ngIf="auth.user.role =='pm' && userOnThisProject">
    <div class="card-body">
  <a button mat-raised-button color="primary" (click)="addUser()">Add User</a>
  </div>
</div>
<app-tasks-table *ngIf="projectReady==true" type="project" idProject="{{project.idProject}}"></app-tasks-table>
<app-spinner-overlay *ngIf="actionsWithProject"></app-spinner-overlay>