<div class="card">
  <div class="card-body">

    <h6 class="alert alert-danger" [hidden]="(auth.problem === '') ">Status problem: {{auth.problem}}</h6>

    <h4 class="card-title">Registration page</h4>

    <h6 class="card-subtitle mb-2 text-muted">This is registration page, please provide all necessary information</h6>

    <form (ngSubmit)="register()" class="form-group" [formGroup]="registrationForm">

        <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email"/>
              <mat-error *ngIf="registrationForm.get('email').hasError('email') && !registrationForm.get('email').hasError('required')">
                  Please enter a valid email address!
              </mat-error>
              <mat-error *ngIf="registrationForm.get('email').hasError('required')">
                Email is required!
              </mat-error>
            </mat-form-field>
          </div>

        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Password" type ="password" formControlName="password"/>
            <mat-error *ngIf="registrationForm.get('password').hasError('required')">
                Password is required!
              </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Repeat" type ="password" formControlName="repeat"/>
                <mat-error *ngIf="registrationForm.hasError('equalPasswords1')">
                    Passwords are not equal!
                  </mat-error>
            </mat-form-field>
          </div>
        <div class="form-group">
            <h5>Choose role for using system</h5>
            <mat-form-field>
              <mat-label>Your Role</mat-label>
              <mat-select  formControlName="role">
                <mat-option value="pm">Project Manager</mat-option>
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="dev">Developer</mat-option>
                <mat-option value="tester">Tester</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      <div class="form-group">
          <mat-slide-toggle color="primary" formControlName="remember">
              Remember me
          </mat-slide-toggle>
      </div>
      <div class="form-group">
          <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Register!</button>
        </div>

    </form>

  </div>

</div>