<div class="alert alert-danger" [hidden]="(auth.problem === '') ">
  {{problem}}
  <br>
</div>
<form #f="ngForm" (ngSubmit)="register(f)">
<input class="form form-control"   [(ngModel)]="email" name="email"/>
<input class="form form-control" type ="password" [(ngModel)]="password" name="password"/>
<mat-radio-group aria-label="Select Role" [(ngModel)]="role" name="role">
  <mat-radio-button value="admin">Admin</mat-radio-button>
  <mat-radio-button value="pm">Project Manager</mat-radio-button>
  <mat-radio-button value="developer">Developer</mat-radio-button>
  <mat-radio-button value="tester">Tester</mat-radio-button>
</mat-radio-group>
<button class="btn btn-primary">Register!</button>
</form>
